@import "tailwindcss";

:root {
  font-family: Manrope, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

html, body, #root {
  height: 100%;
}

a, button {
  cursor: pointer;
}

